/*------------------------------------*\
    #Button Bare Variables
\*------------------------------------*/
@forward './variables';
@use './variables' as *;
@use './colors' as *;

$button-height: 2.5rem; // 40px
$button-font-size: $font-size-s;
$button-font-weight: $font-weight-semi-bold;
$button-line-height: 1.25rem; // 20px
$button-letter-spacing: -0.01rem; // 0.16px
$button-padding: 0 $space-24;
