/*------------------------------------*\
    #COLORS
\*------------------------------------*/

/* Wireframing */

// Grayscale
$black: #000000;
$gray-900: #141414;
$gray-800: #1f1f1f;
$gray-700: #333333;
$gray-600: #545454;
$gray-500: #757575;
$gray-400: #afafaf;
$gray-300: #cbcbcb;
$gray-200: #e2e2e2;
$gray-100: #eeeeee;
$gray-50: #fafafa;
$white: white;

/* Final */

$color-primary: $gray-900;
$color-background: $gray-50;
$color-text: $gray-700;
