/*------------------------------------*\
    #Input Bare Variables
\*------------------------------------*/
@use './variables' as *;

$input-font: $body-font-family;
$input-background: transparent;
$input-font-size: $font-size-s;
$input-line-height: $line-height-lg;
$input-padding: $space-8 0 $space-10;
