/*------------------------------------*\
    #Input Bare Styling
\*------------------------------------*/
@use '../settings/input' as *;

input[type='text'] {
  font-family: $input-font;
  padding: $input-padding;
  font-size: $input-font-size;
  line-height: $input-line-height;
  background-color: $input-background;
  outline: 0;
  border: 0;
  min-width: 0;
  max-width: 100%;
  width: 100%;
  &:focus {
    outline: 0;
  }
}

input[type='radio'],
input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  cursor: pointer;
}
